html {
	background-color: Azure;
}
body {
	text-align: center;
	font-family: 'PT Sans', cursive;
	text-align: center;
	color: black;
}
img {
	max-width:100%;
   	height:auto;
   	max-height:100%;
}
h1 {
	text-align: left;
	font-family: 'PT Sans', cursive;
	font-size: 4em;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
}
h2 {
	text-align: left;
	font-family: 'PT Sans', cursive;
	font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
h3 {
	text-align: left;
	font-family: 'PT Sans', cursive;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
p {
	text-align: left;
	font-family: 'PT Sans', cursive;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 1.5em;
}
ul li {
	font-family:'PT Sans', cursive;
	text-align: left;
	list-style-type: none;
	padding: 0;
    overflow: hidden;
}
section
{
  padding:0;
  margin:0;
  overflow: auto;
  background: Azure;
}
.left{
  float:left;
}
#experience, #skills
{
  padding-left: 25px;
  text-align: left;
}
#experience h4, #skills h4
{
  padding-left: 20px;
  text-align: left;
}
#experience p, #skills p
{
  padding-left: 100px;
  text-align: left;
}
#experience ul, #skills ul
{
  padding-left: 60px;
  text-align: left;
}
iframe 
{
  border: none;
  display: block;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 700px;
}